.logo{
	color:#89BBFE;
	text-align: center;
}

.logo a {
	color:#E0E2DB;
}

#nav {
text-align:center;
margin-left: -2.75%;
font-size: 1.15em;
}
#nav ul {
display:inline-block;
list-style:none; 
}
* html #nav ul { /* Target IE6 */
display:inline;
}
*+html #nav ul { /* Target IE7 */
display:inline;
}
#nav li {
display:inline;
}
#nav a {
float:left;
text-decoration:none; 
padding:0 30px; /* variable width */
color: #89BBFE;
}

#nav a:hover{
	color: #E0E2DB;
}

/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);



/*form styles*/
#msform {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 20px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 17px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 14px;
	color: #666;
	margin-bottom: 20px;
}
.fs-subtitle a {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
	margin-left: 15%;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 100/11 %;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px -3px;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}

.eliminate_box{
	height: 7em;
}

.article{
	text-align: center;
	font-family: 'Cardo', Georgia, Cambria, 'Times New Roman', Times, serif;
}

.week_title{
	font-size: 17px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
	text-align: center;
}

#main_form{
	width: 950px ;
    margin-left: auto ;
    margin-right: auto ;
}

#main_form input{
    padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 6%;
	box-sizing:border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
	height: 30px;
	margin-left: 5px;	
}

#main_form label {
	margin-left:5px; 
}